<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">posts</h3>
    {% if page.title == "posts" %}
      {% for item in site.data.achievements.projects%}
      <p><a href="{{ item.url }}">{{ item.project}}</a></p>
	{{ item.role }}
      {% endfor %}
    {% else %}
      {% for item in site.data.achievements.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
