<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
    <p>layout modified from&nbsp;<a href="https://github.com/LeNPaul/academic/">academic</a>.<br>
    hosted by <a href="https://gitlab.com">Gitlab</a>.<br>
    follow me on <a rel="me" href="https://astrodon.social/@starburps">mastodon</a>.</p>
    
    </div>
    </div>
</footer>
