---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">posts</h3>
{% for post in site.posts %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
  </div>
</div>
{% endfor %}
