---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">research</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.gitlab.url }}/assets/img/irish_ruins.jpg" alt="home" width="100%">
  </div>
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">updates</h3>
    {% for post in site.posts %}
    <p><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
